@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply relative;
  font: 1rem/1.25 'Source Sans 3', san-serif;
  background: #f2f0eb;
}

a {
  @apply text-success text-[1rem] font-normal hover:underline;
}

.btn {
  @apply uppercase font-filsan-soft font-bold text-[1rem] px-[0.875rem];
}

.btn--primary {
  @apply bg-success text-white leading-[48px] rounded-sm;
}

select {
  @apply appearance-none pt-6 px-3 text-[1rem] w-[248.55px] h-[3.5rem] bg-arrow bg-no-repeat bg-[center_right_5px];
}

label {
  @apply text-[1rem] cursor-pointer;
}

input {
  @apply pr-[0.25rem] pl-[0.375rem] text-[1rem] leading-[1.4] bg-white rounded-sm border-[0.0625rem] border-[rgb(222,222,222)] max-w-[4rem];
}

input[type='checkbox'] {
  @apply w-[20px] h-[20px] appearance-none border border-black rounded-sm;
}

input[type='checkbox']:checked {
  @apply border-brand border-2 bg-checked bg-[length:12px] bg-no-repeat bg-center;
}

.label--checkbox {
  @apply flex w-full items-center;
}

.label--checkbox input {
  @apply mr-2;
}

.filter-box {
  @apply mb-1;
}

.filter-collapse-btn {
  @apply text-[3rem] font-extralight;
}

.filter-count {
  @apply text-[#6f6f6f] ml-1;
}

.filter-show-more-btn {
  @apply bg-[#dedede] underline hover:no-underline w-full text-[1rem] font-normal py-2;
}

.product-listing {
  @apply md:w-[877px];
}

.products {
  @apply flex flex-wrap w-full;
}

.product-card {
  @apply w-full mb-8 bg-white rounded-sm hover:shadow-product min-h-[507.66px];
}

.product-card-image-container {
  @apply relative h-[264px] overflow-hidden;
}

.product-card-image {
  @apply absolute top-0 w-full bottom-0 rounded-t-sm hover:scale-[1.01] hover:transition-transform ease-out hover:duration-300;
}

.product-attribute {
  @apply text-white text-center uppercase font-medium font-filsan-soft absolute rounded-sm top-1 w-[70px] z-10;
}

.product-attribute--sale {
  @apply bg-red-500 left-1;
}

.product-attribute--space-saver {
  @apply bg-[#6f6f6f] right-1;
}

.product-card-image-banner {
  @apply bg-bestSeller/80 absolute bottom-0 w-full text-white text-center text-sm font-filsan-soft font-normal;
}

.product-card-body {
  @apply pt-[5px] px-[10px] pb-[12px] flex-grow;
}

.product {
  @apply flex flex-wrap justify-between mt-8 mb-5;
}

.product-details {
  @apply md:w-[575px];
}

.product-name {
  @apply text-[#221924] leading-[1.4] m-0;
}

.product-details .product-name,
.modal .product-name {
  @apply text-[1.75rem] font-bold;
}

.product-card .product-name {
  @apply min-h-[68px] md:w-[260px] overflow-hidden;
}

.product-sku {
  @apply my-2 text-sm text-[#6f6f6f];
}

.product-price {
  @apply font-filsan-soft text-red-500 font-bold text-3xl mr-1;
}

.product-original-price {
  @apply text-[#6f6f6f] line-through;
}

.product-finance-option {
  @apply text-[#0081b9] my-2;
}

.product-filter {
  @apply font-filsan-soft font-medium text-2xl;
}

.filter-box {
  @apply w-[272px] bg-white rounded-sm border-[1px] border-[#dedede];
}

.product-stars {
  @apply w-[79px] h-[1rem] mr-[0.5rem] bg-star-empty bg-[length:1rem] bg-repeat-x;
}

.product-star-rating {
  @apply h-[1rem] bg-star bg-[length:1rem] bg-repeat-x;
}

.product-image-btn {
  @apply invisible bg-white/85 py-[0.625rem] px-[1.875rem] text-[rgb(107,107,107)] uppercase font-filsan-soft font-bold text-lg mx-auto rounded-sm absolute bottom-[30px] right-0 left-0 w-[10.625rem] hover:bg-white;
}

.product-card-image-container a:hover ~ .product-image-btn,
.product-image-btn:hover {
  @apply visible;
}

.pagination {
  @apply text-center;
}

.pagination-progress-bar {
  @apply w-[12.5rem] h-[2px] bg-[#dedede] mb-5;
}

.pagination-progress {
  @apply h-[2px] bg-success;
}

.pagination-btn {
  @apply bg-[#6f6f6f] text-white rounded-[0.1875rem] py-4 px-8;
}

.overlay {
  @apply absolute top-0 right-0 bottom-0 left-0 w-full h-full z-10 bg-black/5;
}

.loader {
  @apply border-[16px] border-[#dedede] border-t-brand rounded-full w-[90px] h-[90px] mt-[25vh] mx-auto animate-spin;
}
